@model ChatWeb.Models.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Registro";

    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <form actiom="~/Home/Register" method="post">
            @Html.LabelFor(d => d.Email)
            @Html.TextBoxFor(d => d.Email, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Email, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(d => d.Password)
            @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Password, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(d => d.Password2)
            @Html.PasswordFor(d => d.Password2, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Password2, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(d => d.Name)
            @Html.TextBoxFor(d => d.Name, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Name, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(d => d.City)
            @Html.TextBoxFor(d => d.City, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.City, "", new { @class = "text-danger" })
            <br />
            <input type="submit" value="Guardar" />

        </form>
    </div>
</div>
